.stripe-button-el {
  width: 100%;
  display: block;
  background-color: #007bff;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.stripe-button-el:hover {
  background-color: #0056b3;
}

.stripe-button-el span {
  height: 36px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 36px;
  display: block;
  color: white;
}
