{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Create a New Account
{% endblock %}

{% block content %}
  <style>
    main {
      text-align: center;
      padding: 20px;
    }
    section {
      margin: auto;
      max-width: 600px;
    }
    section h1 {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 20px;
    }
    article {
      background-color: #f8f9fa;
      padding: 20px;
    }
    form {
      margin-top: 10px;
    }
    button {
      background-color: #6c757d;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: #007bff;
    }
  </style>

  <main>
    {% if not form.is_valid %}
      <section>
        <h1>
          Create a New Account
        </h1>
        <article>
          <p>Fill in the following information to create your new account:</p>
          <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" name="button">
              Sign Up
            </button>
          </form>
        </article>
      </section>
    {% else %}
      <section>
        <h1>
          Your Account Has Been Successfully Created
        </h1>
        <div>
          <p>
            Dear Customer,<br><br>
            Your account is now ready for use. <br>
            <a href="{% url 'home' %}">Continue shopping</a> and explore the variety of products we have at Z-Store.
          </p>
        </div>
      </section>
    {% endif %}
  </main>
{% endblock %}
