{% extends 'base.html' %}
{% load static %}
{% block title %}
Z-Store
{% endblock %}

{% block content %}
  <style>
    section {
      text-align: center;
      padding: 20px;
    }
    header h1 {
      font-size: 24px;
      font-weight: bold;
    }
    article p {
      font-size: 16px;
    }
  </style>

  <section>
    <header>
      <h1>
        Thank You for Placing Your Order
      </h1>
    </header>

    <article>
      <p>
        Your order number is: <strong>{{ customer_order.id }}</strong>
      </p>
      <p>
        We have successfully received your order and are initiating the processing immediately.
      </p>
    </article>
  </section>
{% endblock %}
